.DS_Store
*.log
*.pyc
/src/dataloaders/tf-idf_cache/
/src/similarity_metrics/cand10.json
/src/similarity_metrics/cand999.json
/src/similarity_metrics/cand1999.json
/src/similarity_metrics/cand2999.json
/src/similarity_metrics/cand3999.json
/src/similarity_metrics/cand4999.json
/src/similarity_metrics/cand5999.json
/src/similarity_metrics/cand6999.json
/src/similarity_metrics/cand7999.json
/src/similarity_metrics/cand8999.json
/src/similarity_metrics/cand9999.json
/src/similarity_metrics/cand10999.json
/src/similarity_metrics/cand11999.json
/src/similarity_metrics/cand12999.json
/src/similarity_metrics/cand13999.json
/src/similarity_metrics/cand14999.json
/src/similarity_metrics/cand15999.json
/src/similarity_metrics/cand16999.json
/src/similarity_metrics/candall.json
